<nav class="navbar navbar-toggleable-md navbar-inverse bg-black" id="nav_style">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="toggler_style">
    <span class="navbar-toggler-icon" id="toggler_icon_style"></span>
  </button>
  <a class="navbar-brand" href="/">explorecities.io</a>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
      <a class="nav-link" href="#" type="button" data-toggle="modal" data-target="#login_modal">Login <span class="sr-only">(current)</span></a>
      <div class="modal fade" id="login_modal">
  		  <div class="modal-dialog" role="document">
    			<div class="modal-content">
      			<div class="modal-header">
        			<h5 class="modal-title">Login</h5>
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          		  <span aria-hidden="true">&times;</span>
        			</button>
      			</div>
      			<div class="modal-body text-center">
        		  <form>
                <div class="form-group row">
                  <label for="signup-username-input" class="col-2 col-form-label">Username:</label>
                  <div class="col-10">
                    <input class="form-control" type="text" id="signup-username-input">
                    <small class="text-muted pull-left">You can put your username or email here.</small>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="signup-password-input" class="col-2 col-form-label">Password:</label>
                  <div class="col-10">
                    <input class="form-control" type="password" id="signup-password-input">
                  </div>
                </div>
                <button class="btn btn-block btn-social btn-google" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-google']);">
                  <span class="fa fa-google"></span> Log in with Google
                </button>
                <button class="btn btn-block btn-social btn-facebook" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-facebook']);">
                  <span class="fa fa-facebook"></span> Log in with Facebook
                </button>  
              </form> 
      			</div>
      							
    			</div>
  			</div>
			</div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" type="button" data-toggle="modal" data-target="#signup_modal">Signup</a>
        <div class="modal fade" id="signup_modal">
  				<div class="modal-dialog" role="document">
    				<div class="modal-content">
      				<div class="modal-header">
        				<h5 class="modal-title">Signup</h5>
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          				<span aria-hidden="true">&times;</span>
        				</button>
      				</div>
      				<div class="modal-body">
        				<form>
                  <div class="form-group row">
                    <label for="signup-username-input" class="col-2 col-form-label">Username:</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="signup-username-input">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="signup-email-input" class="col-2 col-form-label">Email:</label>
                    <div class="col-10">
                      <input class="form-control" type="email" id="signup-email-input">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="signup-password-input" class="col-2 col-form-label">Password:</label>
                    <div class="col-10">
                      <input class="form-control" type="password" id="signup-password-input">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="signup-confpass-input" class="col-2 col-form-label">Confirm Password:</label>
                    <div class="col-10">
                      <input class="form-control align-middle" type="password" id="signup-confpass-input">
                    </div>
                  </div>
                  <button class="btn btn-block btn-social btn-google" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-google']);">
                    <span class="fa fa-google"></span> Sign up with Google
                  </button>
                  <button class="btn btn-block btn-social btn-facebook" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-facebook']);">
                    <span class="fa fa-facebook"></span> Sign up with Facebook
                  </button>  
                </form>
      				</div>
      			</div>
  				</div>
				</div>
      </li>
    </ul>
  </div>
</nav>