<nav class="navbar navbar-toggleable-md navbar-inverse bg-black" id="nav_style">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="toggler_style">
    <span class="navbar-toggler-icon" id="toggler_icon_style"></span>
  </button>
  <a class="navbar-brand" href="/">explorecities.io</a>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav ml-auto">
      <a class="nav-link active" href="/users/sign_in" type="button">Login <span class="sr-only">(current)</span></a>
      <li class="nav-item active">
        <a class="nav-link" href="/users/sign_up" type="button">Signup</a>
      </li>
    </div>
  </div>
</nav>