<div class="container-fluid text-center" id="pagination_style">
	<span class="previous_page disabled">Previous </span>
	<em class="current">1 </em>
	<a href="#" rel="next">2 </a>
	<a href="#" class="next_page">Next</a>
</div>